@{
    ViewBag.Title = "Firmalar";
}
@using StokTakip.Models
@model List<Firma>
<div class="row">

    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">

                <div class="caption font-dark">
                    <span class="caption-subject bold uppercase">FİRMALAR</span>

                </div>
                @using (Html.BeginForm("Index", "Firma", FormMethod.Get))
                {
                    
                    

                    <div class="col-md-4" style="float:right; margin:5px auto">
                        <div class="input-group">
                            <span class="input-group-btn btn-left">
                                <input class="btn red-soft" type="submit" name="proc_Search" value="Search">
                                <i class="fa fa-search"></i>

                            </span>
                            <div class="input-group-control">
                                <input type="text" class="form-control edited" name="Search" style="width:360px" placeholder="Listelenecek Firma Girin" />
                            </div>
                        </div>
                    </div>

                }


                

            </div>

            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="/Firma/FirmaEkle" id="sample_editable_1_new" class="btn sbold green">
                                    Yeni Firma
                                    <i class="fa fa-plus"></i>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <a href="/Firma/FirmaPDF" id="sample_editable_1_new" class="btn sbold green">PDF AL</a>


                            </div>
                        </div>

            
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            
                            <th>ID</th>
                            <th>Firma Adı</th>
                            <th>Yetkili Ad Soyad</th>
                            <th>Yetkili Ünvan</th>
                            <th>Ülke</th>
                            <th>Şehir</th>
                            <th>Adres</th>
                            <th>Telefon</th>
                            <th>Faks</th>
                            <th>Web Sayfası</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Firma frm in Model)
                        {
                            <tr class="odd gradeX">
                                
                                <td>@frm.FirmaID</td>
                                <td>
                                    <span class="label label-sm label-warning">@frm.FirmaAdi</span>
                                </td>
                                <td>@frm.YetkiliAdSoyad</td>
                                <td>@frm.YetkiliUnvani</td>
                                <td>@frm.Ulke</td>
                                <td>@frm.Sehir</td>
                                <td>@frm.Adres</td>
                                <td>@frm.Telefon</td>
                                <td>@frm.Faks</td>
                                <td>@frm.WebSayfasi</td>
                                <td><a href="/Firma/FirmaGuncelle/@frm.FirmaID" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> Güncelle </a></td>
                                <td><a href="/Firma/FirmaSil/@frm.FirmaID" class="btn btn-outline btn-circle dark btn-sm black"><i class="fa fa-trash-o"></i> Sil </a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>